*{
  margin: 0;
  padding: 0;
  text-align: center;
}
body{
  height: 100vh;
  /* background:linear-gradient(115deg,#d8c7ff); */
  background-color:#9984cb;
  /* background-repeat: no-repeat;
 #d8c7ff,#19006c
  background-size: cover; */
}